
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
        /* color:white; */

    background: linear-gradient(135deg,rgba(186, 202, 235, 0.459),rgba(111,020,060,0.3));
    overflow-x: hidden;
    min-height: 100vh;


}


@media (max-width:460px) {

    *{
    margin: 0;
    padding:20px 7px 20px 7px;
    box-sizing: border-box;
}
body{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    /* background:#eff3f6; */
    background: linear-gradient(180deg, #f8fff5,#eef7f0);
}
html{
    padding: 0;
    margin-left: 0;
}

.upheader{
    background:red;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(280deg, #9bc08c,#d7f373);
    display: flex;
    justify-content: space-between;
    align-items:center; 
    
    
}

.fa-bars-staggered{
    font-size: 3em;
    /* background:red; */
    width: 30%;
    height:80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    padding: 10px;
}

p{
    width: 80%;
    
}




/* .container{
    width:100%;
    height: 80vh;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    align-items: center;
} */

.profiletext{
    /* color:red; */
    /* background:blue; */
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 10px;
    width: 50%;
    text-align: right;
    padding-right: 10px;

}

.container{
    width:100%;
    /* height: 80vh; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border:1px solid rgba(111,020,060,0.1);
    margin: 0 auto;
}
.sect1{
    width:100%;
    height:350px;
    /* border:1px solid black; */
    background:rgba(146, 115, 182, 0.2);
    margin: 0 auto;
    border-radius:10px;
    padding-top: 10px;
}


.sect2{
    width:100%;
    height:260px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sect3{
    width:100%;
    height:260px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
}



.sect1 img{

    display: block; 
    width:30%;
    height: 120px;
    border-radius: 50%;
    margin:auto;

}

.sect1 #usernamebox ,.sect1 #emailbox , .sect1 #statuslocationbox{
    margin: auto;
    text-align: center;
    height: fit-content;
    padding: 0;
}

#usernamebox{
    box-sizing:border-box;
    font-size: 22px;
    padding: 0;
    line-height: 30px;
}

#emailbox{
    box-sizing:border-box;
    font-size: 19px;
    padding: 0;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#statuslocationbox{
    display:flex;
    justify-content: flex-start;
    font-size: 22px;
    font-family:  Arial, Helvetica, sans-serif;
    width: 90%;
}

.active{
    text-align: left;
}

.activa{
    height: 60px;
/* background:red; */
display: flex;
align-items: center;
gap: 0px;
}

.activa p{
    margin: 0;
}

.fa-circle-dot{
    color:rgb(14, 194, 14);
}

.location{
    height: 60px;
/* background:red; */
display: flex;
align-items: center;
gap: 0px;
}

.location p{
    margin: 0;
}

.sect1 button.editbtn{
   background: linear-gradient(135deg,rgba(29, 235, 121, 0.5),rgba(202, 214, 32, 0.7));
   border:none;
   width: 300px;
   height: 75px;
   margin-left: 30px;
   border-radius:30px;
   font-size: 18px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}



.lang{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.lang p{
    margin: 0;
    
}

.currency{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.currency p{
    margin: 0;
}

.appearance{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.appearance p{
    margin: 0;
}


/* third box */
.appsec{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.appsec p{
    margin: 0;
    
}

.managedev{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.managedev p{
    margin: 0;
}

.changepassword{
    height: 75px;
background:rgba(146, 115, 182, 0.2);
display: flex;
align-items: center;
font-size: 24px;
gap: 0px;
}

.changepassword p{
    margin: 0;
}


.tabbar{
    background: linear-gradient(to top,  #4a6fb933,#b2bd77);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;


    --notch-r: 55px;
    --notch-cx: 50%;
    -webkit-mask: radial-gradient(
        circle var(--notch-r) at var(--notch-cx) 0px,
        transparent 99%,
        black 100%
      );
    mask: radial-gradient(
        circle var(--notch-r) at var(--notch-cx) 0px,
        transparent 99%,
        black 100%
    )
}

.icons-space1{
    display: flex;
    width: 45%;
    /* background:red; */
    height: 100%;
     gap: 25px;
    align-items: center; 
     padding:5px ; 
}

.icon-space2{
    display: flex;
    width: 45%;
    /* background:green; */
    height: 100%;
     gap: 25px;
     justify-content: flex-end;
    align-items: center; 
     padding:5px ; 
}

.fa-dumbbell,.fa-user,.fa-calendar-days,.fa-bars-progress{
    width: 50px;
    font-size: 28px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #241b1b;

}

.fa-house{
    width: 90px;
    position: fixed;
    aspect-ratio: 1/1;
    background: radial-gradient(circle at 45% 30%, #2c9c97, #c1c438bd 55%, #28d445);
    box-shadow: 0 8px 24px rgba(244, 196, 48, 0.45);
    left: 39.7%;
    border-radius:90%;
    bottom: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}


.sidebar{
    width: 50%;
    position: fixed;
    height: 90vh;
    background:rgb(185, 151, 151);
    position: fixed;
    top: 1%;
    display: none;
}

.cancelline{
    display: flex;
    justify-content: flex-end;
    /* background:blue; */
    height: 20px;
    /* width: 10px; */
}

.fa-x{
    /* background:orange; */
    position: fixed;
    width: 40px;
    height: 40px;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color:red;
}


.prof{
    width: 100%;
    height: fit-content;
    /* background:blue; */
    padding: 2px;
    border-bottom: 1px solid black;

}


.profilecircle{
    width: 80px;
    height: 80px;
    /* background:red; */
    border-radius:50%;
    border: 1px solid red;
}

/* .sideactive{
    /* display: flex; */
    font-size: 28px;
    display: block;

} */

/* .sidebarcontainer{
    width: 40%;
    height: 70px;
    background:blue;
    z-index: 9999;
} */

/* .overlay{
    position: fixed;
    left: 1;
    inset: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
    /* display: none; */
} */

/* .overlay.active{
    opacity: 1;
    visibility: visible;
}

.sidebarcontainer{
    z-index: 1000;
} */



}